@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Kumbh+Sans:wght@400;700&family=Mochiy+Pop+One&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;500;700&family=Outfit:wght@300;400;700&family=Permanent+Marker&family=Quicksand:wght@500;700&family=Roboto:wght@300;400;500;700;900&family=Ubuntu:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

/*=====Header======*/
.top-header{
    height: 50px;
    font-size: 14px;
}
.bg-hero{
    background: #ffff00;
}        
.top-contato i {
    margin-right: 14px;
    font-size: 20px;
}
.numero-contato{
    margin-right: 20px;
}
.top-redeSociais span{
    margin-left: 20px;
}
.top-redeSociais i{
    font-size: 20px;
}     
nav{
    height: 60px;
}
.hero{
    width: 100%;   
    display: flex;
    align-items: center;
    justify-content: space-evenly;    
    max-height: 500px;
    height: 500px;
    position: relative;   
    background:  url("../_assets/dog-capa.png"), url("../_assets/hero.webp");   
    background-position: right center, left top;    
    background-repeat: no-repeat;
}

/*====Section Preparação pet====*/
.card{
    max-width: 330px;
    border-radius: 10px;    
}
.card img{    
     height: 160px;
    
}
.card-text{
    font-size: 14px;
    font-family: 'Jost';
}

/*====Section serviços====*/
.bg-servico{    
    background-image: url("../_assets/cat.png");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: 0px -120px;
    min-height: 500px;
    height: 100%;
}
.bg-subsection{
    max-width: 700px;
}

/*====Section loja====*/
.bg-img{
    background-image: url('../_assets/dog.png');
    background-size: 64%;
    background-repeat: no-repeat;
    background-position: 48vw -5vh;
}
.card-info{
    max-width: 600px;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #B6B6B6;
    box-shadow: 0px 5px 9px rgba(226, 118, 27, 1);
    transition: .2s linear;
}
.card-info:hover{
    transform: scale(1.1);
    transition: .2s linear;
}

/*=====Section formulario=====*/
form{
    max-width: 600px;
    width: 100%;
    border: 1px solid #7C7878;
    border-radius: 10px;
    background-color: #fff;
}
label{
    margin-top: 10px;
    font-family: "jost";
    font-weight: 500;
    color: black;
}
input{
    border:none;
    padding: 4px;
    background: none;
    border-bottom: 1px solid black;
    outline: none;    
    margin-bottom: 30px;
    width:100%;
    display: block;
}
textarea{
    resize: none;
    border-radius: 10px;
    border: 1px solid #F09A52;
    width: 96%;
    height: 120px;
    padding: 8px;  
    outline: #F09A52;  
}
textarea::placeholder{    
    font-size: 15px;
}
.btn{
    border-radius: 10px;
    background-color: #E2761B;
}
.btn:hover{
    background-color: #d16b18;
}

/*footer*/
.container-footer .col{
    border-radius: 10px;
    border: 1px solid #d16b18
}
.hrs{
    font-size: 14px;
}
.mapa{
    width: 300px;
    height:100px;
    margin: auto;
    background:blue;
}
.linha{   
    width: 1px; 
    padding: 50px 0;     
}
.line-vertical{
   display: block;
   width: 1px; 
   height: 100%;
   background-color: #d16b18;   
}

/*Rodape Bottom*/
.rodape{
    background-color: #d16b18;
    color:#fff
}


/*==============TIPOGRAFIAS==================*/

.title-sections{
    font-family: 'Jost';
}
.paragrafos{
    font-family: 'Jost';
    font-size: 16px;    
}

/*tipografia hero*/
.hero h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 48px;    
}
.hero h1{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 32px;
}

/*tipografia section loja*/
.font-loja{
    font-family: 'Jost';
}
.top-paragrafo{    
    font-size: 13px;
    color: #E2761B;
    font-weight: 500;
}
.font-loja h4{
    letter-spacing: 0.06em;    
}

/*tipografia section profissionais*/
.texto-overtitulo{
    color: #E2761B;
    font-weight: 500;
    font-family: 'Jost';
}

/*tipografia section marcas*/
.section-marcas{
    font-family: 'Jost';
    color: #7C7878;
}
.section-marcas h4{
    font-size: 22px;
    letter-spacing: 0.05em;
}
.section-marcas .marca{
    text-transform: uppercase;
}

/*tipografia footer*/
.container-footer{
    font-family: 'Jost';
}
.title-footer{
    font-size: 21px;
    font-weight: 500;    
}
.title-footer p{
    font-size:11px;    
}

@media only screen and (max-width:800px){
    /*====Section serviços====*/
.bg-servico{
  background: transparent;

}
}
@media only screen and (max-width:800px){
    .bg-img{
        background-image: url('../_assets/dog.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: -55vw 30vh;
    }
    .card-info:hover{
        transform: scale(.9);
        transition: .2s linear;
    }
}